/* Стилизація проєкта -*/
/* user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/
/* блоки з короткою інфою про post - в ряд по 5 .*/
/* Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки*/
/* (дати фон. марджини і тд)*/
.info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    column-gap: 1vw;
    row-gap: 2vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #0d0f37;
    color: #b9badb;
    height: 100vh;
}

.userDiv.none, .posts.none {
    display: none;
}

.userDiv {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 4vh;
}

.user {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1vh;
    background: #423bab;
    border-radius: 15px;
    width: 45vw;
    height: 75vh;
}

.button {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c13238;
    background: #c13238;
    color: #b9badb;
    width: 90vw;
}

.post {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1vh;
    background: #423bab;
    border-radius: 15px;
    height: 20vh;
    width: 16vw;
    margin-top: 1vh;
}

.details {
    box-sizing: border-box;
    border-radius: 10px;
    width: 90%;
    border: 1px solid #c13238;
    background: #c13238;
    color: #b9badb;
    margin-bottom: 1vh;
}

.posts h2 {
    box-sizing: border-box;
    border-radius: 10px;
    color: #c13238;
    display: flex;
    justify-content: center;
}

.posts {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    column-gap: 1vw;
    row-gap: 2vh;
    align-items: center;
    justify-content: center;
}

.btnHolder {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: flex-end;
}

.previous {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c13238;
    background: #c13238;
    color: #b9badb;
    margin-top: 1vh;
    margin-right: 1vw;
}

.container {
    box-sizing: border-box;
    display: flex;
    column-gap: 1vw;
    row-gap: 2vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 2vh;
}

.postDetails {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 18vw;
    background: #252160;
    border-radius: 10px;
    row-gap: 1vh;
}